Builds/VisualStudio2010/*.sdf
Builds/VisualStudio2010/*.suo
Builds/VisualStudio2010/*.v11.suo
Builds/VisualStudio2010/*.opensdf

Builds/VisualStudio2010/Debug/
Builds/VisualStudio2010/Release/
Builds/VisualStudio2010/ipch/

Builds/VisualStudio2012/*.sdf
Builds/VisualStudio2012/*.suo
Builds/VisualStudio2012/*.v11.suo
Builds/VisualStudio2012/*.opensdf

Builds/VisualStudio2012/Debug/
Builds/VisualStudio2012/Release/
Builds/VisualStudio2012/ipch/

Docs/*
!Docs/mlrVSTDocs.tex
!Docs/mlrVSTDocs.pdf

OldBuilds/